Used Car Price Prediction
1) Problem statement.
- This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
If user can predict the price of the car based on input features.
Prediction results can be used to give new seller the price suggestion based on market condition.
2) Data Collection.
- The Dataset is collected from scrapping from cardheko webiste
- The data consists of 13 column and 15411 rows.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('cardekho.csv',index_col=[0])

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

Data Cleaning-

- Handling Missing values
- Handling Duplicates
- Check data type
- Understand the dataset

In [4]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
df.drop(columns=['car_name','brand'],inplace=True)

In [6]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [8]:
num_features=[feature for feature in df.columns if df[feature].dtype !='O']
print("no. of numerical features: ",len(num_features))

cat_features=[feature for feature in df.columns if df[feature].dtype =='O']
print("no. of categorical features: ",len(cat_features))

discrete_features=[feature for feature in num_features if len(df[feature].unique())<25]
print("no. of discrete features: ",len(discrete_features))

continuos_features=[feature for feature in num_features if feature not in discrete_features]
print("no. of categorical features: ",len(cat_features))

no. of numerical features:  7
no. of categorical features:  4
no. of discrete features:  2
no. of categorical features:  4

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
#independant and dependant features

X=df.iloc[:,:-1]
y=df[['selling_price']]

In [11]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [12]:
y

       selling_price
0             120000
1             550000
2             215000
3             226000
4             570000
...              ...
19537         250000
19540         925000
19541         425000
19542        1225000
19543        1200000

[15411 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder

In [14]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()

df['model']=le1.fit_transform(df[['model']])

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  int64
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 1.4+ MB

In [16]:
# feature scaling and encoding
#creating column transfer
cat_features=X.select_dtypes(include='object').columns
numeric_features=X.select_dtypes(exclude='object').columns

In [17]:
ohe=OneHotEncoder(drop='first')
scaler=StandardScaler()

preprocessor=ColumnTransformer(
    [
        ("onehotencoder",ohe,cat_features),
        ("scaler",scaler,numeric_features)
    ],remainder='passthrough'
)

In [18]:
X=preprocessor.fit_transform(X)

In [19]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [20]:
X_train

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 98667 stored elements and shape (10787, 132)>

### Model selection, Hyperparameter tuning and Model selection

In [21]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error,root_mean_squared_error

In [22]:
models={
    "Linear Reg ":LinearRegression(),
    "K Nearest neighbours":KNeighborsRegressor(),
    "Decision tree": DecisionTreeRegressor(),
    "Random forest":RandomForestRegressor(),
    "Adaboost Regressor": AdaBoostRegressor()
}

In [23]:
for model in range(len(list(models))):
    m=list(models.values())[model]
    m.fit(X_train,y_train)

    #predict test data
    y_hat_test=m.predict(X_test)

    #performance check
    print("_"*100)
    print(f"r2 score of {list(models.keys())[model]}",r2_score(y_test,y_hat_test))
    print(f"mse of {list(models.keys())[model]}",mean_squared_error(y_test,y_hat_test))
    print(f"mae of {list(models.keys())[model]}",mean_absolute_error(y_test,y_hat_test))
    print(f"rmse {list(models.keys())[model]}",root_mean_squared_error(y_test,y_hat_test))
    print("_"*100)

____________________________________________________________________________________________________
r2 score of Linear Reg  0.7980435241435113
mse of Linear Reg  118383483583.29022
mae of Linear Reg  170476.1013983523
rmse Linear Reg  344069.0099141308
____________________________________________________________________________________________________
____________________________________________________________________________________________________
r2 score of K Nearest neighbours 0.9125064886241366
mse of K Nearest neighbours 51287222277.3843
mae of K Nearest neighbours 103093.80947231835
rmse K Nearest neighbours 226466.8237896763
____________________________________________________________________________________________________
____________________________________________________________________________________________________
r2 score of Decision tree 0.8748694269069717
mse of Decision tree 73349433746.5697
mae of Decision tree 121545.07847256551
rmse Decision tree 270831.00588110235
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

____________________________________________________________________________________________________
r2 score of Random forest 0.9260576064635089
mse of Random forest 43343785309.25003
mae of Random forest 97055.03437941575
rmse Random forest 208191.70326708513
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

____________________________________________________________________________________________________
r2 score of Adaboost Regressor 0.5554316508113566
mse of Adaboost Regressor 260598476204.4621
mae of Adaboost Regressor 390370.6765540124
rmse Adaboost Regressor 510488.46823847265
____________________________________________________________________________________________________

In [28]:
#hyper parameter tuning knn and random forest

knn_params={"n_neighbors":[2,3,10,20,40,50]}
rf_params={
    "max_depth":[5,8,15,None,10],
    "max_features":[5,7,"auto",8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200]
}
ada_params={
    "n_estimators":[50,60,70,80],
}

In [29]:
gridcv_models=[
    ('KNN',KNeighborsRegressor(),knn_params),
    ('rf',RandomForestRegressor(),rf_params),
    ('adaboost_reg',AdaBoostRegressor(),ada_params)
]

In [30]:
from sklearn.model_selection import GridSearchCV

model_params={}
for name,model,params in gridcv_models:
    grid=GridSearchCV(estimator=model,param_grid=params,n_jobs=-1,cv=5)
    grid.fit(X_train,y_train)
    model_params[name]=grid.best_params_

for model_name in model_params:
    print(f"best parameters for {model_name}")
    print(model_params[model_name])

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
200 fits failed out of a total of 800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
116 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
84 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.39261453 0.39386062 0.38448976 0.39815957 0.38725154 0.37969667
 0.38720413 0.38904931 0.47175081 0.46647659 0.45888743 0.46915135
 0.46526419 0.46268837 0.46240394 0.45366272        nan        nan
        nan        nan        nan        nan        nan        nan
 0.49269788 0.49499912 0.49315893 0.48857505 0.48175657 0.48940142
 0.4657002  0.47638231 0.55739187 0.55836104 0.54720241 0.5441394
 0.54148826 0.538995   0.50902949 0.53445405 0.61944192 0.62195266
 0.61124753 0.61308411 0.60939871 0.59525015 0.59747852 0.60141163
        nan        nan        nan        nan        nan        nan
        nan        nan 0.6520517  0.64677512 0.64537888 0.64082031
 0.63703902 0.63770206 0.62254427 0.63445587 0.74547123 0.74257178
 0.72525232 0.7273467  0.71504832 0.71296581 0.69579852 0.70362206
 0.7864904  0.79360712 0.76757548 0.77977367 0.7515283  0.75674134
 0.75224665 0.74843191        nan        nan        nan        nan
        nan        nan        nan        nan 0.81158693 0.80966829
 0.78965807 0.79130873 0.77300692 0.76852024 0.76565724 0.76699276
 0.86062683 0.85548642 0.83326817 0.83343424 0.81185972 0.80546727
 0.79383588 0.79497815 0.85948199 0.85854727 0.83690609 0.83772744
 0.81008067 0.81627682 0.79704492 0.80226652        nan        nan
        nan        nan        nan        nan        nan        nan
 0.8644115  0.85889274 0.83988664 0.84080808 0.81385624 0.81880303
 0.79921388 0.80177162 0.62721897 0.61684378 0.61220816 0.60992069
 0.60054634 0.59321608 0.5964176  0.58903103 0.68959248 0.69303784
 0.67841843 0.67692795 0.66881139 0.66924031 0.65913351 0.66129558
        nan        nan        nan        nan        nan        nan
        nan        nan 0.71506132 0.71223148 0.69517124 0.70669775
 0.69149978 0.69019923 0.67628108 0.68908326]
  warnings.warn(
c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

best parameters for KNN
{'n_neighbors': 3}
best parameters for rf
{'max_depth': None, 'max_features': 8, 'min_samples_split': 2, 'n_estimators': 100}
best parameters for adaboost_reg
{'n_estimators': 50}

In [31]:
models={
    "K Nearest neighbours":KNeighborsRegressor(n_neighbors=3),
    "Random forest":RandomForestRegressor(max_depth= 15, max_features=5, min_samples_split= 2, n_estimators= 100),
    "Adaboost Reg":AdaBoostRegressor(n_estimators=50)
}

for model in range(len(list(models))):
    m=list(models.values())[model]
    m.fit(X_train,y_train)

    #predict test data
    y_hat_test=m.predict(X_test)

    print("_"*100)
    print(list(models.keys())[model])
    #performance check
    
    print(f"r2 score of {list(models.keys())[model]}",r2_score(y_test,y_hat_test))
    print(f"mse of {list(models.keys())[model]}",mean_squared_error(y_test,y_hat_test))
    print(f"mae of {list(models.keys())[model]}",mean_absolute_error(y_test,y_hat_test))
    print(f"rmse {list(models.keys())[model]}",root_mean_squared_error(y_test,y_hat_test))
    print("_"*100)

____________________________________________________________________________________________________
K Nearest neighbours
r2 score of K Nearest neighbours 0.9056682857726377
mse of K Nearest neighbours 55295661578.85489
mae of K Nearest neighbours 104815.51867070358
rmse K Nearest neighbours 235150.29572351146
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

____________________________________________________________________________________________________
Random forest
r2 score of Random forest 0.8197868354350796
mse of Random forest 105637920835.59761
mae of Random forest 169408.87158289622
rmse Random forest 325019.87760073633
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

____________________________________________________________________________________________________
Adaboost Reg
r2 score of Adaboost Reg 0.40929573570857947
mse of Adaboost Reg 346260887539.0322
mae of Adaboost Reg 488882.72530870815
rmse Adaboost Reg 588439.366068444
____________________________________________________________________________________________________