Used Car Price Prediction
1) Problem statement.
- This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
If user can predict the price of the car based on input features.
Prediction results can be used to give new seller the price suggestion based on market condition.
2) Data Collection.
- The Dataset is collected from scrapping from cardheko webiste
- The data consists of 13 column and 15411 rows.

In [77]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
df=pd.read_csv('cardekho.csv',index_col=[0])

In [79]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

Data Cleaning-

- Handling Missing values
- Handling Duplicates
- Check data type
- Understand the dataset

In [80]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [81]:
df.drop(columns=['car_name','brand'],inplace=True)

In [82]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [83]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [84]:
num_features=[feature for feature in df.columns if df[feature].dtype !='O']
print("no. of numerical features: ",len(num_features))

cat_features=[feature for feature in df.columns if df[feature].dtype =='O']
print("no. of categorical features: ",len(cat_features))

discrete_features=[feature for feature in num_features if len(df[feature].unique())<25]
print("no. of discrete features: ",len(discrete_features))

continuos_features=[feature for feature in num_features if feature not in discrete_features]
print("no. of categorical features: ",len(cat_features))

no. of numerical features:  7
no. of categorical features:  4
no. of discrete features:  2
no. of categorical features:  4

In [85]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [112]:
#independant and dependant features

X=df.iloc[:,:-1]
y=df[['selling_price']]

In [113]:
X

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
19537,117,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
19540,42,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
19541,77,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5
19542,114,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
19543,25,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [114]:
y

       selling_price
0             120000
1             550000
2             215000
3             226000
4             570000
...              ...
19537         250000
19540         925000
19541         425000
19542        1225000
19543        1200000

[15411 rows x 1 columns]

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder

In [116]:
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()

df['model']=le1.fit_transform(df[['model']])

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  int64
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 1.4+ MB

In [118]:
# feature scaling and encoding
#creating column transfer
cat_features=X.select_dtypes(include='object').columns
numeric_features=X.select_dtypes(exclude='object').columns

In [119]:
ohe=OneHotEncoder(drop='first')
scaler=StandardScaler()

preprocessor=ColumnTransformer(
    [
        ("onehotencoder",ohe,cat_features),
        ("scaler",scaler,numeric_features)
    ],remainder='passthrough'
)

In [120]:
X=preprocessor.fit_transform(X)

In [121]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [122]:
X_train

array([[ 1.        ,  0.        ,  1.        , ..., -0.0480872 ,
         0.1829522 , -0.40302241],
       [ 1.        ,  0.        ,  1.        , ...,  0.18411846,
         0.59601586, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  1.        , ...,  0.02291783,
        -0.29294367, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
        -0.25012468, -0.40302241],
       [ 1.        ,  0.        ,  1.        , ..., -0.45684593,
        -0.61874036, -0.40302241]])

### Model selection, Hyperparameter tuning and Model selection

In [123]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error,root_mean_squared_error

In [130]:
models={
    "Linear Reg ":LinearRegression(),
    "K Nearest neighbours":KNeighborsRegressor(),
    "Decision tree": DecisionTreeRegressor(),
    "Random forest":RandomForestRegressor()
}

In [135]:
for model in range(len(list(models))):
    m=list(models.values())[model]
    m.fit(X_train,y_train)

    #predict test data
    y_hat_test=m.predict(X_test)

    #performance check
    print("_"*100)
    print(f"r2 score of {list(models.keys())[model]}",r2_score(y_test,y_hat_test))
    print(f"mse of {list(models.keys())[model]}",mean_squared_error(y_test,y_hat_test))
    print(f"mae of {list(models.keys())[model]}",mean_absolute_error(y_test,y_hat_test))
    print(f"rmse {list(models.keys())[model]}",root_mean_squared_error(y_test,y_hat_test))
    print("_"*100)

____________________________________________________________________________________________________
r2 score of Linear Reg  0.6516431433088319
mse of Linear Reg  216361939101.53955
mae of Linear Reg  271720.39427521144
rmse Linear Reg  465147.22303969477
____________________________________________________________________________________________________
____________________________________________________________________________________________________
r2 score of K Nearest neighbours 0.9062816054777443
mse of K Nearest neighbours 58207821028.465614
mae of K Nearest neighbours 109459.23983564014
rmse K Nearest neighbours 241262.97069477034
____________________________________________________________________________________________________
____________________________________________________________________________________________________
r2 score of Decision tree 0.8868007253854198
mse of Decision tree 70307255591.67447
mae of Decision tree 119779.51088523644
rmse Decision tree 265155.15380937717
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

____________________________________________________________________________________________________
r2 score of Random forest 0.9326209899554305
mse of Random forest 41848618702.25613
mae of Random forest 96808.8457029202
rmse Random forest 204569.34937144452
____________________________________________________________________________________________________

In [142]:
#hyper parameter tuning knn and random forest

knn_params={"n_neighbors":[2,3,10,20,40,50]}
rf_params={
    "max_depth":[5,8,15,None,10],
    "max_features":[5,7,"auto",8],
    "min_samples_split":[2,8,15,20],
    "n_estimators":[100,200,500,1000]
}

In [145]:
gridcv_models=[
    ('KNN',KNeighborsRegressor(),knn_params),
    ('rf',RandomForestRegressor(),rf_params)
]

In [146]:
from sklearn.model_selection import GridSearchCV

model_params={}
for name,model,params in gridcv_models:
    grid=GridSearchCV(estimator=model,param_grid=params,n_jobs=-1,cv=5)
    grid.fit(X_train,y_train)
    model_params[name]=grid.best_params_

for model_name in model_params:
    print(f"best parameters for {model_name}")
    print(model_params[model_name])

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
400 fits failed out of a total of 1600.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
160 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
240 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.78840725 0.79374954 0.79472834 0.79087142 0.77650511 0.78462189
 0.78484164 0.78749146 0.77334127 0.77677943 0.78377754 0.78421953
 0.77636207 0.78262589 0.77865968 0.78115196 0.80203872 0.80408007
 0.80301057 0.80668243 0.79442052 0.79714028 0.7998279  0.79821559
 0.79475164 0.79597152 0.7976206  0.79863368 0.78943602 0.78915359
 0.79589282 0.79514956        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.80647672 0.80604159 0.80881506 0.80718954 0.78825921 0.80632515
 0.80191259 0.80048981 0.79614721 0.79988862 0.79991749 0.80005981
 0.79727553 0.80314945 0.80000383 0.7991263  0.85388268 0.8528382
 0.85637419 0.8565322  0.84694204 0.84733818 0.84624684 0.8473244
 0.8364032  0.83577964 0.83985856 0.83940242 0.83309014 0.83008115
 0.83303879 0.83114941 0.85659643 0.85604666 0.85742532 0.85928298
 0.84833042 0.85060456 0.85186188 0.84992054 0.84133639 0.84387291
 0.84401013 0.84318887 0.8390274  0.83791947 0.83746216 0.83890337
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.85353297 0.862518
 0.85927122 0.85675475 0.84725761 0.84757963 0.84587314 0.84695051
 0.84448585 0.84513277 0.84606336 0.84203387 0.83318889 0.83280803
 0.83873555 0.83897831 0.88065577 0.87842854 0.8733792  0.87597686
 0.86190698 0.86524999 0.8622379  0.86289514 0.85577381 0.85208003
 0.85233313 0.8518197  0.84779489 0.83988901 0.8456966  0.84464675
 0.87280869 0.87205868 0.87196669 0.87231769 0.8622254  0.85532432
 0.86199915 0.86042145 0.85060309 0.84829941 0.85034435 0.85213777
 0.84897899 0.84879893 0.84506894 0.84835959        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan 0.8669993  0.87214329 0.8725663  0.87109188
 0.85967076 0.85880621 0.86015056 0.86104797 0.85067859 0.84759733
 0.85235709 0.85097353 0.8448738  0.85085447 0.84763315 0.84514371
 0.87726491 0.87638123 0.87591052 0.8779072  0.85783696 0.85907141
 0.86483451 0.86294498 0.8461572  0.84909948 0.85287159 0.8527154
 0.83838528 0.84345908 0.84542534 0.84295515 0.87545228 0.87312829
 0.87591122 0.87193128 0.86712031 0.86212189 0.86326081 0.86317417
 0.84965832 0.84920877 0.8509313  0.85322262 0.84710993 0.84366276
 0.84657696 0.8471841         nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.8729742  0.86945362 0.87039223 0.8683719  0.86093231 0.8614199
 0.86181054 0.85833022 0.85429024 0.85149395 0.85299822 0.85276208
 0.84843319 0.84399921 0.84705798 0.84634733 0.86851889 0.86872474
 0.87091772 0.86985921 0.86207841 0.85455047 0.8585587  0.85691137
 0.84598125 0.84804558 0.84941541 0.84649776 0.84193567 0.84079031
 0.84323042 0.84182869 0.87560967 0.86908559 0.86998236 0.86979153
 0.85354161 0.85674425 0.86060867 0.8567526  0.84974908 0.8495326
 0.85132838 0.8517375  0.84659144 0.84205784 0.84511001 0.84482819
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.87025869 0.8623287
 0.86717942 0.86619538 0.85587506 0.85732527 0.85322125 0.85832098
 0.8518638  0.85026235 0.84921261 0.84922633 0.84681675 0.84156441
 0.84494752 0.84257861]
  warnings.warn(
c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

best parameters for KNN
{'n_neighbors': 3}
best parameters for rf
{'max_depth': 15, 'max_features': 5, 'min_samples_split': 2, 'n_estimators': 100}

In [149]:
models={
    "K Nearest neighbours":KNeighborsRegressor(n_neighbors=3),
    "Random forest":RandomForestRegressor(max_depth= 15, max_features=5, min_samples_split= 2, n_estimators= 100)
}

for model in range(len(list(models))):
    m=list(models.values())[model]
    m.fit(X_train,y_train)

    #predict test data
    y_hat_test=m.predict(X_test)

    print("_"*100)
    print(list(models.keys())[model])
    #performance check
    
    print(f"r2 score of {list(models.keys())[model]}",r2_score(y_test,y_hat_test))
    print(f"mse of {list(models.keys())[model]}",mean_squared_error(y_test,y_hat_test))
    print(f"mae of {list(models.keys())[model]}",mean_absolute_error(y_test,y_hat_test))
    print(f"rmse {list(models.keys())[model]}",root_mean_squared_error(y_test,y_hat_test))
    print("_"*100)

____________________________________________________________________________________________________
K Nearest neighbours
r2 score of K Nearest neighbours 0.904715846030489
mse of K Nearest neighbours 59180302963.77896
mae of K Nearest neighbours 110343.23637543252
rmse K Nearest neighbours 243270.02068438058
____________________________________________________________________________________________________

c:\Users\rushx\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

____________________________________________________________________________________________________
Random forest
r2 score of Random forest 0.936618202904359
mse of Random forest 39365978478.5309
mae of Random forest 94259.78368919085
rmse Random forest 198408.6149302265
____________________________________________________________________________________________________